[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
vonage-jwt = "*"
vonage = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
send-sms = 'python send-sms/send-sms.py'
